@extends('layout')

@section('title') Admin Panel @endsection

@section('content')
  <h1>Admin Panel</h1>
  |% if ( get('users').length === 0 ) { %|
    <h1>No users at the moment in database!</h1>
  |% } else { %|
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Username</td>
          <td>Email</td>
          <td>Registered At</td>
        </tr>
      </thead>
      <tbody>
        |% for ( const user of users ) { %|
          <tr>
            <td>|% user.id_user %|</td>
            <td>|% user.username | 'upper' | 'limitTo:3' %|</td>
            <td>|% user.email | 'capitalize' %|</td>
            <td>|% user.created_at | 'date:dd/M/Y' | 'upper' %|</td>
            <td>|% 5 | 'currency' %|</td>
          </tr>
        |% } %|
      </tbody>
    </table>
  |% } %|
@endsection